// Global config
// ==============================

// Font stacks

$font-url-google          : 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&display=swap';


// Font

$font-family--primary     : 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;

// Font weights

$font-weight--thin        : 100;
$font-weight--light       : 300;
$font-weight--medium      : 400;
$font-weight--bold        : 700;
$font-weight--ultra-bold  : 900;

// Descriptive base colors

$white          : hsla(0, 0%, 100%);
$black          : hsla(0, 0%, 40%);
$grey           : hsla(187, 5%, 63%);

$viking         : hsla(163, 64%, 63%);
$piction-blue   : hsla(189, 79%, 60%);
$ocean-green    : hsla(154, 49%, 49%);
$chestnut-rose  : hsla(350, 50%, 58%);
$flame-pea      : hsla(15, 71%, 55%);
$lavender-purple: hsla(250, 30%, 61%);
$wisteria       : hsla(281, 44%, 70%);

$color--primary   : $viking;
$color--secondary : $piction-blue;

// Text

$base__font-size  : 16px;
$base__line       : 24px;

// Layout

$default-radius: 5px;

// Color Palette

$palettes: (
  'viking'  : (
    'light'   : lighten($viking, 10%),
    'base'    : $viking,
    'dark'    : darken($viking, 10%),
  ),
  'piction-blue': (
    'light'   : lighten($piction-blue, 10%),
    'base'    : $piction-blue,
    'dark'    : darken($piction-blue, 10%),
    'x-dark'  : darken($piction-blue, 15%),
  ),
  'ocean-green': (
    'base'    : $ocean-green,
    'dark'    : darken($ocean-green, 10%),
    'light'   : lighten($ocean-green, 10%),
    'x-light' : lighten($ocean-green, 15%),
  ),
  'chestnut-rose': (
    'x-light' : lighten($chestnut-rose, 15%),
    'light'   : lighten($chestnut-rose, 10%),
    'base'    : $chestnut-rose,
    'dark'    : darken($chestnut-rose, 10%),
  ),
  'flame-pea': (
    'light'   : lighten($flame-pea, 10%),
    'base'    : $flame-pea,
    'dark'    : darken($flame-pea, 10%),
  ),
  'lavender-purple': (
    'base'    : $lavender-purple,
    'dark'    : darken($lavender-purple, 10%),
    'light'   : lighten($lavender-purple, 10%)
  ),
  'wisteria': (
    'base'    : $wisteria,
    'dark'    : darken($wisteria, 10%),
    'light'   : lighten($wisteria, 10%)
  )
);

// Grid

$container-max-width  : 1168px;
$grid-columns         : 12;

$grid-colors: (
  '3'   : palette('wisteria', 'light'),
  '4'   : palette('piction-blue'),
  '5'   : palette('ocean-green', 'x-light'),
  '6'   : palette('piction-blue', 'x-dark'),
  '7'   : palette('chestnut-rose', 'x-light'),
  '8'   : palette('flame-pea', 'light'),
  '12'  : palette('viking'),
);

// Theme map

$ui-colors: (
  'default' : $piction-blue,
  'success' : $ocean-green,
  'error'   : $chestnut-rose,
  'warning' : $flame-pea,
  'info'    : $lavender-purple,
);

// Breakpoints

$breakpoint-medium  : 769px;
$breakpoint-large   : 920px;
