// Text

%text-center {
  text-align: center;
}

// Links

%link-default {
  color: $black;
  text-decoration: none;
}

// Images

%img-default {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%img-margin-medium {
  margin-bottom: em(28px)
}

%img-margin-large {
  margin-bottom: em(50px)
}
// Headlines

%headline-indent {
  padding-left: 3%;
}

%headline-bottom-margin {
  margin-bottom: em(40px);
}

// Nav items

%nav-item-default {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 2%;
  padding-right: 2%;
  width: 90%;
}