// Utilities
// ==============================

// Import if Google Fonts URL is defined

@if variable-exists(font-url-google) {
  @import url($font-url-google);
}

// Mixins
@mixin bg-colors($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
      @content;
    }
  }
}

@mixin border-radius {
  border-radius: $border-radius;
}

@mixin center-element {
  margin-left: auto;
  margin-right: auto;
}