// Utilities
// ==============================

// Import if Google Fonts URL is defined

@if variable-exists(font-url-google) {
  @import url($font-url-google);
}

// Mixins
@mixin bg-colors($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
      // Include border radius for all bg colored showcase elements (grid & buttons)
      @include border-radius;
      @content;
    }
  }
}

// Optional value argument if needed
@mixin border-radius($value: $default-radius) {
  border-radius: $value;
}

@mixin center-element {
  margin-left: auto;
  margin-right: auto;
}

// Media queries
@mixin media-query($breakpoint) {

  // Conditional, so we can adress breakpoints with strings as argument
  @if $breakpoint == 'medium' {
    @media (min-width: $breakpoint-medium) {
      @content;
    }
  }
  @else if $breakpoint == 'large' {
    @media (min-width: $breakpoint-large) {
      @content;
    }
  }
  
}