.btn {
  @include bg-colors($ui-colors) {
    @include center-element;
    color: $white;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: em(25px, 15px);
    border: 0;
    text-transform: uppercase;
    font-size: em(15px);
    font-weight: $font-weight--bold;
    display: block;
    width: 94%;

    @include media-query('medium') {
      display: inline-block;
      width: initial;
      margin-left: .5%;
      padding-left: 5%;
      padding-right: 5%;

      &:first-child {
        margin-left: 3%;
      }
    }
    
    @include media-query('large') {
      margin-left: 2%;

      &:first-child {
        margin-left: 5%;
      }

    }
  }
}