.card {
    padding-left: 5%;
    padding-right: 5%;

    a {
      @extend %link-default;
      font-weight: $font-weight--bold;
      color: $color--secondary;
    }

    @include media-query('medium') {
      padding: 0;
    }
}