.container {
  font-family: $font-family--primary;
  color: $black;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;

  @include media-query('medium') {
    @include center-element;
    padding-top: em(25px);
    max-width: $container-max-width;
  }
}