// Form
.form {
  &__label--hidden {
    @extend .hidden;
  }

  &__input {
    @include center-element;
    border: none;
    display: block;
    width: 95%;
    margin-bottom: em(25px, 15px);
    font-size: em(15px);
    font-weight: $font-weight--bold;
    padding-left: 10px;
    padding-bottom: 15px;
    border-bottom: 6px solid $color--primary;

    &:focus {
      border-bottom: 6px solid $color--secondary;
      outline: none;
    }
  }

  .btn--default {
    width: 100%;
    margin: 0;
  }

  @include media-query('medium') {
    margin-left: em(20px);
  }
}