.grid__row {
  @include grid;
  @include columns('small');
  margin-bottom: em(40px);
  
  // Gap for last row (grid-row-gap is top only)
  &:last-of-type {
    margin-top: 20px;
  }

  @include media-query('medium') {
    @include columns('large');
    grid-column-gap: 10px;
    // Don't want to use grid on the container, so we must create gaps with margins
    margin-bottom: em(50px);
  }
}

// Centered column

.centered {
  @include media-query('medium') {
    justify-self: center;
    grid-column: 1 / -1 !important; // Override extend
    width: 60%; // For showcase purpose
  }
}

// Grid showcase background colors

.theme__colors {
  @extend %text-center;
  font-weight: $font-weight--bold;

  &.grid__col {
    @include bg-colors($grid-colors);
  }
}