@for $i from 1 through $grid-columns {
  .grid__col--#{$i} {
    @include border-radius;

    // Grid columns
    grid-column: span #{$i};

    // TODO extend/mixin paddings for showcasing grid and buttons
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.grid__row {
  display: grid;
  grid-template-columns: (1fr);

  @include media-query('medium') {
    grid-template-columns: repeat(12, 1fr);
  }
  
}

.theme__colors {
  &.grid__col {
    @include bg-colors($grid-colors);
  }
}