.img {
  &--logo {
    @extend %img-default;
    @extend %img-margin-large;

    @include media-query('medium') {
      margin-left: 40px;
      margin-right: 0;
      margin-bottom: em(30px);
    }
  }

  &--avatar {
    @extend %img-default;
    @extend %img-margin-medium;
    @include center-element;
  }
  
  &--frame {
    @extend %img-default;
    @extend %img-margin-medium;
    border: 10px solid $white;
    outline: 1px solid $grey;
  }

}