.nav {
  @extend %text-center;
  list-style-type: none;
  padding: 0;
  margin-top: -50px;

  @include media-query('medium') {
    @include flexbox;
    @include flex-direction('row');
    align-items: stretch;
    margin-top: 10px;
    margin-left: 180px;
  }

  &__item {
    @extend %nav-item-default;
    @include border-radius;
    @include center-element;

    a {
      @extend %link-default;
      font-weight: $font-weight--medium;
      letter-spacing: .5px;

      &:hover {
        color: $color--primary ;
      }
    }

    // Active button
    &:first-child {
      background-color: $color--primary ;

      a {
        color: $white;
      }
    }
  }
}