.headline {
  &--primary {
    font-size: em(30px);
    color: $color--primary;
    padding: 0 5%;
    margin-bottom: em(20px);
  }
  &--secondary {
    @extend %headline-bottom-margin;
    font-size: em(18px);
    font-weight: $font-weight--light;
    margin-top: em(20px);

    .form &, .card & {
      @extend %headline-indent;
      margin-bottom: em(16px);
    }
  }
}