* {
  box-sizing: border-box;

  // TODO Move to .container?
  font-family: $font-family--primary;
  color: $black;
}

// Base style nav 
ul {
  margin-bottom: em(48px);
}

p {
  font-size: em(18px);
  line-height: 1.5;
}